.first-title.titlefont{
    font-size: 3vw;
}
.card [class*="content-"]{
    color: rgba(0, 0, 0, 0.87);
}
ul.main li{
    background-color: white;
    margin-bottom: 5px;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: kelsonregular;
    border-bottom: 3px lightgray solid;
}
.blog-post .section-text ul.main li p {
    margin-bottom: 0 !important;
    padding: 5px 5px 5px 10px;
}
ul.main ul{
    padding: 0;
}
ul.main li ul li {
    text-transform: initial;
    margin: 0;
    border-bottom: none;
    background-color: #35bcc730;
    
}
ul.main li ul li p {
    font-size: 15px;
}
#post-213{
padding-top: 0;
}
.card{
    background: none;
    box-shadow: none;
}