/* Page contact */
#contact .first-row {
    margin-top: 5px;
}

#contact-part .card .secondary-title {
    line-height: 70px;
    margin-bottom: 10px;
    text-align: center;
}
#contact .caldera-grid .row {
    display: flex;
    justify-content: center;
}

#contact .caldera-grid .col-sm-12 {
    width: 80%;
}

#contact .caldera-grid .form-control {
    border-radius: 5px;
    box-shadow: 2px 0px 6px 1px rgba(1, 167, 180, 0.49);
    margin-top: 5px;
    border: transparent;
}

.form-group label.control-label {
    font-family: "Barlow Condensed";
    font-style: italic;
    text-transform: uppercase;
    color: var(--main-blue);
    font-size: 25px;
}

#contact .caldera-grid .col-sm-12 .form-group div {
    text-align: center;
}

#contact .btn_submit {
    background-color: var(--secondary-blue);
    border-radius: 5px;
    text-transform: uppercase;
    color: white;

}

@media screen and (max-width: 767px) {
    #contact {
        margin: 0;
    }

    #saxo-pic-contact {
        right: 5px;
        width: 88px;
    }

    #fa-pic-contact {
        width: 80px;
        left: 25px;
        bottom: 50px;
    }

    .caldera-grid .form-group {
        margin-bottom: 5px;
    }

    #contact .caldera-grid .col-sm-12 {
        width: 90%;
    }
}