
.main-template .navbar{
    position: sticky;
    margin-top: 0 !important;
    margin-bottom: 0;
    font-size: 20px;
}
.main-template header{
    height: 150px;
}
.main-template header .header{
    height: 150px;
}
.main-template .main-raised{
    margin: 0 30px 0;
}
.main-template .navbar{
    background-color: transparent;
    box-shadow: none;
    border: none;
}
.main-template .navbar li a{
    text-transform: none;
    font-family: kelsonlight;
    font-size: 21px;
}

.container > .navbar-header {
    display: none !important;
}
.home .navbar:not(.hestia_right) .navbar-collapse{
    display: flex !important;
    justify-content:center;
}

.main-template .container > .navbar-header{
   display: table-cell !important;
}
/***** Trombinoscope *****/
#trombinoscope .card-wrapper{
    width: 30%;
    text-align: center;
}
#trombinoscope .card{
    padding: 2% 5% 5% 5%;
    margin-bottom: auto;
}
#trombinoscope .card img{
    height:300px;
    object-fit: cover;
}
#trombinoscope .card-wrapper:nth-child(odd){
    margin: 0 10% auto 15%
}
#trombinoscope .card-wrapper:nth-child(2){
    margin-top: 200px;
}
#trombinoscope  div.flex-row span{
    position: absolute;
    left: 55%;
    height: 200px;
}
/***** Actualités *****/
#actualites .card{
   width: 275px;
    height: 275px;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    margin-left: 35px;
}
#actualites .card-content{
    visibility: hidden;
    background: white;
    height: 100px;
    margin-top: 175px;
    overflow: hidden;
}
#actualites .card:hover .card-content{
    visibility: visible;

}